@import '../../assets/styles/themes/default.scss';
.container {
    margin-top: 32px;
    .mainHeader{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 2px solid $gray-100;
        padding-bottom: 16px;
        strong{
            text-transform: lowercase;
            font-size: 24px;
            color: #222;
        }

        a{
            font-size: 16px;
            color: $primary;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
            border: 2px solid $primary;
            border-radius: 4px;
            &:hover{
                background-color: $primary;
                color: #fff;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .errorContainer{
        margin-top: 16px;
        display: flex;
        align-items: center;
        strong{
            font-size: 22px;
            color: $danger;
        }
        .details{
            min-width: 50%;
            margin-left: 24px;
            button{
                margin-top: 8px;
            }
        }
    }
    .listHeader{
        margin-top: 24px;
        margin-bottom: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        button{
            display: flex;
            align-items: center;
            color: $primary;
            gap: 8px;
            font-weight: bold;
            background: transparent;
            border: none;
        }
        img{
            transform: rotate(0deg);
            &[order='desc']{
                transform: rotate(180deg);
            }
            transition: transform .3s ease-in-out;
        }
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 16px;
        border-radius: 4px;
        & + .card {
            margin-top: 16px;
        }
        .info{
            .contact{
                display:flex;
                gap: 8px;
                text-transform: uppercase;
                small{
                    color: $primary;
                    font-weight: bold;
                    padding: 4px;
                    border-radius: 4px;
                    background: $primary-lighter;
                }
            }
            span{
                display: block;
                font-size: 14px;
                color: $gray-200;
            }
        }
        .actions{
            display: flex;
            align-items: center;
            button{
                margin-left: 8px;
                background: transparent;
                border: none;
            }
        }
    }
}

.emptyListContainer{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    p{
        margin-top: 16px;
        text-align: center;
        color: $gray-200;
        strong{
            color: $primary;
        }
    }

}

.contactNotFound{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    p{
        color: $gray-200;
        word-break: break-all;
        strong{
            color: $primary;
        }
    }
}

.searchInput {
    margin-top: 48px;
    width: 100%;
    input{
        border: none;
        background-color: #fff;
        width: 100%;
        border-radius: 25px;
        height: 50px;
        outline: 0;
        padding: 0 16px;
        &::placeholder{
            color: #bcbcbc;
        }
    }
}

