@import '../../assets/styles/themes/default.scss';
.container {
    margin-top: 32px;
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        strong{
            text-transform: lowercase;
            font-size: 24px;
            color: #222;
        }

        a{
            font-size: 16px;
            color: $primary;
            text-decoration: none;
            font-weight: bold;
            padding: 10px;
            border: 2px solid $primary;
            border-radius: 4px;
            &:hover{
                background-color: $primary;
                color: #fff;
                transition: all 0.2s ease-in-out;
            }
        }
    }
    .listContainer{
        margin-top: 24px;
        header{
            margin-bottom: 8px;
            button{
                display: flex;
                align-items: center;
                color: $primary;
                gap: 8px;
                font-weight: bold;
                background: transparent;
                border: none;
            }
        }

    }
    .card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        padding: 16px;
        border-radius: 4px;
        & + .card {
            margin-top: 16px;
        }
        .info{
            .contact{
                display:flex;
                gap: 8px;
                text-transform: uppercase;
                small{
                    color: $primary;
                    font-weight: bold;
                    padding: 4px;
                    border-radius: 4px;
                    background: $primary-lighter;
                }
            }
            span{
                display: block;
                font-size: 14px;
                color: $gray-200;
            }
        }
        .actions{
            display: flex;
            align-items: center;
            button{
                margin-left: 8px;
                background: transparent;
                border: none;
            }
        }
    }
}

.searchInput {
    margin-top: 48px;
    width: 100%;
    input{
        border: none;
        background-color: #fff;
        width: 100%;
        border-radius: 25px;
        height: 50px;
        outline: 0;
        padding: 0 16px;
        &::placeholder{
            color: #bcbcbc;
        }
    }
}

