$background-color: #F6F5FC;
$primary: #5061FC;
$primary-light: #6674F4;
$primary-lighter: #E0E3FF;
$primary-dark: #3346F0;

$gray-200: #BCBCBC;
$gray-900: #222222;
$gray-100: #E5E5E5;

$danger: #FC5050;
$danger-light: #F97171;
$danger-dark: #F63131;

$success: #51CA73;
