@import '../../../assets/styles/themes/default.scss';

.container {
    cursor: pointer;
    padding: 16px 32px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    img + strong {
        margin-left: 8px;
    }
    & + & {
        margin-top: 12px;
    }

    &.success{
        background: $success;
    }
    &.error{
        background: $danger;
    }
    &.default{
        background: $primary;
    }
    animation: messageIn .5s;
    &[data-leaving=true]{
        animation: messageOut .5s;
    }
}

@keyframes messageIn {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes messageOut {
    from{
        opacity: 1;
        transform: translateY(0%);
    }
    to{
        opacity: 0;
        transform: translateY(100%);
    }
}
